<form [formGroup]="form" (ngSubmit)="send()">
    <label for="first_name">First name</label>
    <div>
        <input type="text" formControlName="first_name">
    </div>
    <div *ngIf="form.get('first_name')?.invalid && (form.get('first_name')?.dirty || form.get('first_name')?.touched)">
        <span>not valid</span>
    </div>
    <label for="last_name">Last name</label>
    <div>
        <input type="text" formControlName="last_name">
    </div>
    <label for="email">Email</label>
    <div>
        <input type="email" formControlName="email">
    </div>
    <label for="age">Age</label>
    <div>
        <input type="number" formControlName="age">
    </div>
    <label for="phone">Phone</label>
    <div>
        <input type="tel" formControlName="phone">
    </div>
    <div *ngIf="form.get('phone')?.hasError('required')">
        required
    </div>
    <div *ngIf="form.get('phone')?.hasError('minlength')">
        2 symbols min
    </div>
    <div *ngIf="form.get('phone')?.hasError('maxlength')">
        15 symbols max
    </div>
    <button [disabled]="form.invalid">SEND</button>
    <button type="button" (click)="resetForm()">Reset</button>
</form>