<!-- <div class="first"></div>
<div class="second"></div>
<div class="third">
  <div class="anim left">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam expedita aperiam, modi repudiandae obcaecati iste harum rem dignissimos quaerat quos culpa ad labore fugit numquam perspiciatis eveniet porro quidem incidunt.</div>
  <div class="anim right">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus laboriosam nemo deserunt, nihil voluptate eligendi eos est similique animi hic non sed sint, placeat error at. Laudantium quaerat nostrum ducimus.</div>
</div>
<img src="assets/headerimg.png" id="myId" alt="" style="background-color: red; width: 200px;"> -->
<!-- <app-test></app-test>
<a routerLink="form">form</a> -->
<router-outlet></router-outlet>
<!-- 
<div style="padding: 20px;">
  <input type="text" (keyup.enter)="test(myInp.value)" #myInp>

  <p>{{text}}</p>
</div> -->
