$fz:30px;
$backColor: red;
%tplborder {
    border-bottom: 2px dashed red;
}

@mixin fontz($f, $c){
    font-size: $f;
    color: $c;
    background-color: red;
}
@mixin dflex($jcont, $aitem) {
    display: flex;
    justify-content: $jcont;
    align-items: $aitem;
}


.block {
    width:  80%;
    margin: 0 auto;
    font-family: sans-serif;
    background-color: blue;
    h1 {
        span {
            color: $backColor;
            text-transform: uppercase;
            font-size: 150px;
            position: relative;
            z-index: 1;
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 50px;
                background-color: green;
                bottom: 10px;
                left: 0;
                z-index: -1;
            }
        }
    }
    p {
        background-color: rgba(128, 0, 128, 0.096);
        text-align: center;
    }
    button {
        background-color: transparent;
        color: black;
        padding: 5px 30px;
        @include fontz(80px, black);
        cursor: pointer;
    }
}
.link {
    color: blue;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
    @extend %tplborder;
}
#test {
    
    background-color: rgb(82, 82, 82);
    @include dflex(space-between, center);
    div {
        height: 100px;
        width: 100px;
        background-color: black;
    }
    
}