.first {
    height: 100vh;
    background-color: red;
}
.second {
    height: 100vh;
    background-color: blue;
}
.third {
    padding: 100px 50px;
    display: flex;
    justify-content: space-between;
    .left, .right {
        width: 45%;
        transition: 0.8s;
    }
    .left {
        transform: translate(-30%, 0px);
        opacity: 0;
    }
    .right {
        transform: translate(30%, 0px);
        opacity: 0;
    }
    .left.is_active, .right.is_active {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}